:root {
    --c-white: #fff;
    --c-white-base: #ECEDF4;

    --c-yellow: #FFD124;
    --c-blue-1: #00AFC1;
    --c-blue-2: #0093AB;
    --c-blue-3: #006778;

    --c-dark: #475569;
    --c-dark-base: #8FA4C2;

    --alpha: 1;
    --black100: rgba(21, 25, 30, 1);
    --black75: rgba(21, 25, 30, calc(var(--alpha) - .25));
    --black50: rgba(21, 25, 30, calc(var(--alpha) - .50));
    --black25: rgba(21, 25, 30, calc(var(--alpha) - .75));
    --black5: rgba(21, 25, 30, calc(var(--alpha) - .95));


    --c-lime: #57F0D1;
    --c-orange: #F59179;
    --c-violet: #8D59C5;

    --c-mute: #D8D8D8;

    --spacer: 1rem;
}

@font-face {
    font-family: "pro-r";
    src: url(../../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: "pro-sb";
    src: url(../../fonts/FontsFree-Net-Proxima-Nova-Sbold.otf);
}

@font-face {
    font-family: "pro-b";
    src: url(../../fonts/Proxima-Nova-Bold.otf);
}

@font-face {
    font-family: "pro-xb";
    src: url(../../fonts/Proxima-Nova-Extrabold.otf);
}

@font-face {
    font-family: "eu";
    src: url(../../fonts/grifterbold.otf);
}

html {
    box-sizing: border-box;
    color: var(--black100);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "pro-r", sans-serif;

}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: "eu", sans-serif;
    letter-spacing: 0.05em;
}

h2,
h3,
h4,
h5 {
    font-family: "eu", sans-serif;
    letter-spacing: 0.05em;
}

a {
    color: var(--black100);
    text-decoration: none;
}

section {
    padding: 3rem 0;
}

main {
    display: flex;
    flex-direction: row;
}

.button-primary {
    background-color: var(--c-dark);
    color: var(--c-white);
    border: none;
    outline: none;
}

.button-primary:hover,
.button-primary:focus {
    border: unset;
    color: var(--c-white);
    background-color: var(--c-dark);
    outline: var(--c-dark);

}

.button-primary:active {
    transform: translateY(-4px);
    transition: transform 0.02s;
}


.button-outline-primary {
    border-color: var(--c-dark);
    color: var(--c-dark);
}

.button-outline-primary:hover,
.button-outline-primary:active {
    color: var(--c-dark);
    border-color: unset;
    background-color: unset;
    outline: var(--c-dark);
}

.button-outline-primary:active {
    transform: translateY(-4px);
    transition: transform 0.02s;
}

.content {
    margin-inline: auto;
    width: min(60%, 70.5rem);
}

.icon {
    font-size: 3rem;
}

.secbg-primary {
    background-color: var(--c-white);
}

.secbg-secondary {
    background-color: var(--c-white-base);
}

.temp__image {
    max-width: 236px;
    width: 236px;
    height: 236px;
    background-color: var(--c-blue-1);
}

.split {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.split-reverse {
    flex-direction: column-reverse;
}

.split .text {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .split {
        flex-direction: row;
    }

    .split>* {
        flex-basis: 100%;
    }

    .split>*+* {
        margin-left: 2em;
    }

}

/* Start Header */
.primary__header {
    top: 0;
    width: 100%;
    background-color: var(--c-dark);
    color: var(--c-white);
    justify-content: space-between;
    z-index: 1000;
}

.primary__header a {
    color: var(--c-white);
}


.logo__header {
    display: flex;
    align-items: center;
    padding: 0 20px;

}


.logo__header:nth-child(2) {
    display: none;
}

.logo__text {
    padding: 0;
}

.logo__text h3 {
    font-family: "eu", sans-serif;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--c-white);
    margin: 0;
}

.logo__text p {
    font-family: "pro-b", sans-serif;
    color: var(--c-white);
    margin: 0;
}

.navbar-brand {
    width: 40%;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    position: relative;
}

.nav-item a {
    font-size: 20px;
    font-family: "pro-sb", sans-serif;
}

.nav-item a:hover {
    color: var(--c-white);
}

.nav-item.active a {
    color: var(--c-dark);

}


.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: var(--c-white);
    color: var(--c-dark);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    border: var(--black5) 1px solid;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.nav-item:hover .tooltiptext {
    visibility: visible;
}


.profile {
    width: 100%;
}


.logo__profile_img {
    width: 50px;
    border-radius: 100px;
    background-color: var(--c-white);
    overflow: hidden;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
    width: 40px;
    height: 6px;
    background-color: var(--c-white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: var(--c-white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotateZ(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotateZ(-45deg) translate(35px, 35px);
}

/* End Header */
/* Start Login */

.login {
    height: 100vh;
}

.login a {
    color: var(--c-dark);
}

.login a span {
    color: #2563EB;
}

.login__content {
    width: 300px;
}

/* End Login */

.feature__text {
    text-align: center;
}

.primary__footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--c-dark);
    color: var(--c-white);
}

.logo__footer {
    padding-left: 20px;
    font-size: 8px;
}

.cc__footer {
    padding-right: 20px;
    color: var(--c-mute);
    font-size: 8px;
}


@media only screen and (min-width: 600px) {
    .logo__footer {
        font-size: 10px;
    }

    .cc__footer {
        font-size: 10px;
    }

    .split .text {
        text-align: start;
    }

}

@media only screen and (min-width: 768px) {
    .logo__header:nth-child(2) {
        display: flex;
    }

}

@media only screen and (min-width: 800px) {

    .logo__footer {
        font-size: 16px;
    }

    .cc__footer {
        font-size: 16px;
    }
}

/* Start SideBar */

.side-bar {
    top: 0%;
    width: 100px;
    border-right: var(--black5) 1px solid;
}

.side-bar a {
    color: var(--c-dark-base);
}

.side-bar a:hover,
.side-bar a:active {
    color: var(--c-dark);
}

.side-bar i {
    font-size: 3rem;
}

/* End SideBar */

.c-content {
    position: relative;
    height: 90vh;
    width: 100%;
    /* margin-top: 85px; */
}

.top__content {
    border-bottom: var(--black5) 1px solid;
    height: 60px;
}

.top__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    width: 100px;
    padding: 10px;
    font-family: 'pro-sb', sans-serif;
    cursor: pointer;
    border: var(--black5) 1px solid;
    color: var(--black50);
}

.top__item:hover,
.top__item:active {
    color: var(--black100);
}

.top__item.active {
    color: var(--black100);
}

.middle__content {
    padding: 40px;
}

.input-group.group-custom {
    border-bottom: var(--black25) 1px solid;
}

.input-group.group-custom:hover,
.input-group.group-custom:focus-within {
    border-radius: 4px;
    box-shadow: 0 0 0 1px var(--black25);
    transition: all 200ms ease-out;
}

.input-group-text.group-custom {
    background-color: transparent;
    border: none;
}

.input-group.group-custom input {
    border: none;

}

.input-group.group-custom input:focus {
    box-shadow: none;
}


.file__input {
    position: relative;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23475569FF' stroke-width='4' stroke-dasharray='14%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    display: flex;
    justify-content: center;
    align-items: center;
}

.file__input input {
    position: Absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    opacity: 0;
}

.file__input:hover .file__placeholder {
    opacity: 1;
    transition: all 0.2s ease-in-out;

}

.file__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 600px;
    text-align: center;
    pointer-events: none;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    color: var(--c-dark);
}

.file__placeholder svg {
    width: 100px;
    height: 100px;
}

#upload_progressBar {
    width: 100%;
}

.progress {
    height: 30px;
}

.progress-bar {
    background-color: var(--c-dark);
}

.bottom__content {
    position: relative;
    bottom: 0;
}


/* Threads */
.c-content-threads {
    position: relative;
    height: 90vh;
    width: 100%;
}

.c-content-threads .middle__content {
    padding: unset;
}

.c-content-threads .split {
    height: 100%;
    align-items: unset;
}

.c-content-threads .topic {
    padding: 10px 30px;
}

.c-content-threads .topic h1 {
    margin: unset;
}

.c-content-threads .topic {
    border-right: var(--c-white-base) 1px solid;
}

.c-content-threads .topic .input-group {
    width: 280px;
}

#topicTable tr {
    cursor: pointer;
}

#topicTable tr.active {
    background-color: var(--black25);
}

#topicTable tr td:first-child {
    font-size: 2rem;
}

#topicTable .row__title {
    width: 600px;
}

#topicTable .row__title div {

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic__content {
    padding: 50px 50px;
}

.display-container {
    padding: 10px;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
    /* Hide vertical scrollbar */
}

#author .name {
    font-family: "pro-b", sans-serif;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

#author .time_reply {
    margin: 0;
}

#author .time_reply span {
    font-weight: bold;
}

#author .edit-button {
    font-size: 2em;
    background-color: transparent;
    color: black;
}

#content__display {
    border: none;
}

#content__display .ql-editor {
    padding: 0;
}

#content__title {
    margin: 0;
}

#content__subtitle {
    font-family: "pro-sb", sans-serif;
}

.reply__container .ql-container.ql-snow {
    border: none;
}

.reply__container .ql-editor {
    padding: 0;
}

.reply__c {

    border-top: var(--c-dark-base) 1px solid;
}

.reply__c .name {
    font-family: "pro-b", sans-serif;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.reply__c .time_reply span {
    font-weight: bold;
}

.replyEdit__container {
    border-top: var(--c-dark-base) 1px solid;
}

.editor-container {
    display: none;
    height: 90%;
}

.editor-container form {
    height: 100%;
    position: relative;
}

#editor {
    height: 60%;
}

/* data tables */
.table__container {
    border: var(--c-dark) 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px var(--c-dark);
}

#processTable tr td,
#exportTable tr td,
#topicTable tr td {
    box-shadow: none;
}

#processTable tr.selected td {
    box-shadow: inset 0 0 0 9999px var(--black5);
    color: var(--black100);
}

#processTable tr.selected td.select-checkbox::after {
    text-shadow: none;
    font-weight: bold;
}

#processTable tr.selected td.select-checkbox::before {
    border: 1px solid black;
    /* text-shadow: 1px 1px var(--black100), -1px -1px var(--black100), 1px -1px var(--black100), -1px 1px var(--black100); */
}

.preview-ocr {
    background-color: var(--c-dark);
    outline: none;
    border: none;
}

.preview-ocr:hover,
.preview-ocr:focus {
    background-color: var(--c-dark);
    outline: none;
    border: none;
    box-shadow: none;
}

.preview-ocr:focus {
    box-shadow: 0px 0px 10px 5px var(--c-dark-base) !important;
}

/* 
table.dataTable tr.odd {
    background-color: transparent;
}

table.dataTable tr.even {
    background-color: transparent;
} */


/* 
table.dataTable tr.odd * {
    background-color: transparent;
    box-shadow: none !important;
}

table.dataTable tr.even * {
    background-color: transparent;
    box-shadow: none !important;
} */

button.dt-button,
div.dt-button,
a.dt-button,
input.dt-button {
    background-color: var(--c-dark);
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.select-checkbox::before {
    top: 48% !important
}

.select-checkbox::after {
    top: 54% !important
}

/* .progress {
    width: 90%;
} */



/* User Management Page */

#patientTable tr td,
#clinicianTable tr td {
    box-shadow: none;
}

#patientTable {
    cursor: pointer;
}