:root {
    --c-white: #fff;
    --c-white-base: #ECEDF4;

    --c-yellow: #FFD124;
    --c-blue-1: #00AFC1;
    --c-blue-2: #0093AB;
    --c-blue-3: #006778;


    --c-dark: #475569;
    --c-dark-base: #8FA4C2;

    --c-lime: #57F0D1;
    --c-orange: #F59179;
    --c-violet: #8D59C5;

    --c-mute: #D8D8D8;

    --spacer: 1rem;
}

@font-face {
    font-family: "pro-r";
    src: url(../../font/ProximaNova-Regular.otf);
}

@font-face {
    font-family: "pro-sb";
    src: url(../../font/FontsFree-Net-Proxima-Nova-Sbold.otf);
}

@font-face {
    font-family: "pro-b";
    src: url(../../font/Proxima-Nova-Bold.otf);
}

@font-face {
    font-family: "pro-xb";
    src: url(../../font/Proxima-Nova-Extrabold.otf);
}

@font-face {
    font-family: "eu";
    src: url(../../font/grifterbold.otf);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "pro-r", sans-serif;

}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: "eu", sans-serif;
    letter-spacing: 0.05em;
}

a {
    color: black;
    text-decoration: none;
}

section {
    padding: 3rem 0;
}

.button-primary {
    background-color: var(--c-dark);
    color: var(--c-white);
    border: none;
    outline: none;
}

.button-primary:hover,
.button-primary:active {
    border: unset;
    color: var(--c-white);
    background-color: var(--c-dark);
    outline: var(--c-dark);

}

.button-outline-primary {
    border-color: var(--c-dark);
    color: var(--c-dark);
}

.button-outline-primary:hover,
.button-outline-primary:active {
    color: var(--c-dark);
    border-color: unset;
    background-color: unset;
    outline: var(--c-dark);
}

.content {
    margin-inline: auto;
    width: min(60%, 70.5rem);
}

.icon {
    font-size: 3rem;
}

.secbg-primary {
    background-color: var(--c-white);
}

.secbg-secondary {
    background-color: var(--c-white-base);
}

.temp__image {
    max-width: 236px;
    width: 236px;
    height: 236px;
    background-color: var(--c-blue-1);
}

.split {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.split-reverse {
    flex-direction: column-reverse;
}

.split .text {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .split {
        flex-direction: row;
    }

    .split>* {
        flex-basis: 100%;
    }

    .split>*+* {
        margin-left: 2em;
    }

}

/* Start Header */
.primary__header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--c-dark);
    color: var(--c-white);
    justify-content: space-between;
    z-index: 1000;
}

.primary__header a {
    color: var(--c-white);
}


.logo__header {
    display: flex;
    align-items: center;
    padding: 0 20px;

}


.logo__header:nth-child(2) {
    display: none;
}

.logo__text {
    padding: 0;
}

.logo__text h3 {
    font-family: "eu", sans-serif;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--c-white);
    margin: 0;
}

.logo__text p {
    font-family: "pro-b", sans-serif;
    color: var(--c-white);
    margin: 0;
}

.navbar-brand {
    width: 40%;
}

.navbar-nav {
    width: 100%;
}

.nav-item a {
    font-size: 20px;
    font-family: "pro-sb", sans-serif;
}

.nav-item a:hover {
    color: var(--c-white);
}
.nav-item.active a{
    color: var(--c-dark);

}
.profile {
    width: 100%;
}


.logo__profile_img {
    width: 50px;
    border-radius: 100px;
    background-color: var(--c-white);
    overflow: hidden;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
    width: 40px;
    height: 6px;
    background-color: var(--c-white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: var(--c-white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotateZ(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotateZ(-45deg) translate(35px, 35px);
}

/* End Header */
/* Start Login */

.login {
    height: 100vh;
}

.login a {
    color: var(--c-dark);
}

.login a span {
    color: #2563EB;
}

.login__content {
    width: 300px;
}

/* End Login */

.feature__text {
    text-align: center;
}

.primary__footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--c-dark);
    color: var(--c-white);
}

.logo__footer {
    padding-left: 20px;
    font-size: 8px;
}

.cc__footer {
    padding-right: 20px;
    color: var(--c-mute);
    font-size: 8px;
}


@media only screen and (min-width: 600px) {
    .logo__footer {
        font-size: 10px;
    }

    .cc__footer {
        font-size: 10px;
    }

    .split .text {
        text-align: start;
    }

}

@media only screen and (min-width: 768px) {
    .logo__header:nth-child(2) {
        display: flex;
    }

}

@media only screen and (min-width: 800px) {

    .logo__footer {
        font-size: 16px;
    }

    .cc__footer {
        font-size: 16px;
    }
}

/* Start SideBar */

.side-bar {
    position: fixed;
    top: 0%;
    height: 100vh;
    width: 100px;
    border-right: var(--c-white-base) 1px solid;
}

.side-bar a {
    color: var(--c-dark-base);
}

.side-bar a:hover,
.side-bar a:active {
    color: var(--c-dark);
}

.side-bar i {
    font-size: 3rem;
}

/* End SideBar */

.c-content {
    position: relative;
    margin-left: 100px;
    margin-top: 85px;
}

.top__content {
    border-bottom: var(--c-white-base) 1px solid;
    height: 60px;
}

.top__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    width: 100px;
    padding: 10px;
    font-family: 'pro-sb', sans-serif;
    cursor: pointer;
    border: var(--c-white-base) 1px solid;
    color: var(--c-dark-base);
}

.top__item:hover,
.top__item:active {
    color: var(--c-dark);
}
.top__item.active{
    color: var(--c-dark);
}
.middle__content {
    padding: 40px;
}

.file__input {
    position: relative;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23475569FF' stroke-width='4' stroke-dasharray='14%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    display: flex;
    justify-content: center;
    align-items: center;
}

.file__input input{
    position: Absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    opacity: 0;
}
.file__input:hover .file__placeholder{
    opacity: 1;
    transition: all 0.2s ease-in-out;

}
.file__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 600px;
    text-align: center;
    pointer-events: none;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    color: var(--c-dark);
}
.file__placeholder svg {
    width: 100px;
    height: 100px;
}

.bottom__content {
    position: relative;
    bottom: 0;
}


/* Studies */


.c-content-studies {
    position: relative;
    margin-left: 100px;
    margin-top: 85px;
}

/* data tables */

.table__container {
    border: var(--c-dark) 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px var(--c-dark);
}


table.dataTable.stripe>tbody>tr.odd>*,
table.dataTable.display>tbody>tr.odd>* {
  box-shadow: none;
}


table.dataTable.order-column>tbody tr>.sorting_1,
table.dataTable.order-column>tbody tr>.sorting_2,
table.dataTable.order-column>tbody tr>.sorting_3,
table.dataTable.display>tbody tr>.sorting_1,
table.dataTable.display>tbody tr>.sorting_2,
table.dataTable.display>tbody tr>.sorting_3 {
  box-shadow: none;
}

table.dataTable.stripe>tbody>tr.odd.selected>*,
table.dataTable.display>tbody>tr.odd.selected>* {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.923);
}

table.dataTable.hover>tbody>tr:hover>*,
table.dataTable.display>tbody>tr:hover>* {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.035);
}

table.dataTable.hover>tbody>tr.selected:hover>*,
table.dataTable.display>tbody>tr.selected:hover>* {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.935);
}